<%= form_with(model: observation) do |form| %>
  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
        <% observation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :season %>
    <%= form.text_field :season, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :name %>
    <%= form.select :name, Bird.all.collect {|bird| [ bird.name ] }, { include_blank: true }, class:"form-select mb-3" %>
  </div>

  <div class="field mb-3">
    <%= form.label :max_number %>
    <%= form.number_field :max_number, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :notes %>
    <%= form.text_field :notes, class:"form-control" %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :observation_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="field mb-3">
    <%= form.number_field :bird_id, id: :observation_bird_id, class:"form-control", value:Bird.where(name: observation.name).ids, type: :hidden %>
  </div>

  <br />

  <div class="actions">
    <%= form.submit class:"btn btn-warning btn-lg" %>
  </div>
<% end %>
