<%= form_with(model: observation) do |form| %>
  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
        <% observation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :season, class:"form-control", placeholder:"Season" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class="field mb-3">
    <%= form.number_field :max_number, class:"form-control", placeholder:"Max number" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :notes, class:"form-control", placeholder:"Notes" %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit class:"btn btn-warning" %>
  </div>
<% end %>
