<p id="notice"><%= notice %></p>

<h2>My Observations</h2>

<table class="table table-bordered table-sm table-striped">
  <thead class="table-dark">
    <tr>
      <th>Season</th>
      <th>Name</th>
      <th>Max number</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.season %></td>
        <td><%= observation.name %></td>
        <td><%= observation.max_number %></td>
        <td><%= observation.notes %></td>
        <td><%= link_to 'Show', observation %></td>
        <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
        <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Observation', new_observation_path, class:"btn btn-warning" %>
